.mainContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container{
    height: 100%;
    width: 90%;
    opacity: 0.8;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th{
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: center;
    font-weight: 500;
  }
  .table td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
    font-weight: 500;
  }
  
  .table th {
    background-color: blueviolet;
    color: white;
  }
  
  .row:nth-child(even) {
    background-color: #f2f2f2;
  }

  .row:hover {
    background-color: #ddd;
  }


  .search {
    margin-bottom: 10px;
  }
  
  .searchInput {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
    
  .insights {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .insights h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .insights ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .insights ul li {
    font-size: 1em;
    margin-bottom: 8px;
  }
  
  .insights ul li strong {
    font-weight: bold;
    margin-right: 5px;
  }
  
  /* Example of a simple hover effect */
  .insights ul li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }